html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: $background-body;
    text-rendering: optimizeSpeed;
    font-family: 'Roboto', sans-serif;
}

h4 {
    // background: $color_background-hr;
}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/

ul,
ol {
    margin: 0%;
    padding: 0;
    list-style-type: none;
}

dt {
    font-weight: bold;
}

//description Title

img {
    height: auto;
    max-width: 100%;
    vertical-align: center;
}

table {
    margin: 0;

    td,
    th {
        padding: 12px 15px;
        border-bottom: 1px solid $color-background-hr;
        text-align: left;
    }
}

code {
    margin: 0 .2rem;
    background: $color-background-hr;
    border-radius: 4px;
    display: block;
}

img {
    display: block;

    // Can be changed
    width: 100%;
    object-fit: contain;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section_heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
}

// Glide Js overwrite
.glide__arrow {
    &--left {
        left: -6rem !important;
    }

    &--right {
        right: -6rem !important;
    }
}

.glide__bullet--active {
    background-color: #fbac26 !important;
    width: 25px !important;
    border-radius: 4px !important;
}