.nav {
  &_container {
    display: flex;
    justify-content: space-between;
    background-color: #C4C4C4;

    .nav_item {
      text-decoration: none;
      font-weight: bold;
      padding: 14px 28px;
      font-size: 14px;
      background-color: $gray;
      color: $white;

      &:hover {
        background-color: $primary;
      }
    }
  }
}

// Dropdown navigation
.dropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    border: none;
    outline: none;
    margin: 0;
  }

  &:hover {
    .dropbtn {
      background-color: red;
    }

    .dropdown-content {
      display: block;
    }
  }
}

.navbar {
  a {
    &:hover {
      background-color: red;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    &:hover {
      background-color: #ddd;
    }
  }
}