/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/

$background-body: #ffffff;
$color-background-hr: #ccc;
$color__text-main: #000000;
$gray:#B5B5B5;
$dark: #263640;
$white: #ffffff;
$primary: #FF9900;
$ultralightgray: #F5F8FA;
$light_blue:  #929A9F;
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
$font__main: 'Roboto', sans-serif;
$font__secondary: 'Roboto', sans-serif;
$font__line-height-body: 2;
$font__line-height-pre:2.5;

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
$size__site-main: 100%;
$size__site-sidebar: 25%;